DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000

# For production use PostgreSQL URL
# DATABASE_URL=postgresql://user:password@host:5432/dbname

TELEGRAM_BOT_TOKEN=
TELEGRAM_PERSONAL_CHAT_ID=
TELEGRAM_GROUP_CHAT_ID=

RESEND_API_KEY=
EMAIL_FROM=noreply@example.com
LEADS_EMAIL_TO=you@example.com
